*{
	padding:0;
	margin:0;
	list-style-type:none;
	outline: none;
}
.acessibilidade {
	width:1px;
	height:1px;
	display:block;
	text-indent:-999999px;
	overflow:hidden;
	position:absolute;
}
h1, h2, h3, h4{
	font-style: normal;
	font-weight: normal;
	font-family: 'exo', sans-serif;
}
a, h1, h2, h3, h4, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, label { display: block;}
a{ text-decoration: none; color: #919191;}
a:hover, a:focus{ background-position:left bottom;}
a.ativo{ background-position:left bottom;}
a.link{ display:inline;}
a:hover.link, a:focus.link{ text-decoration:underline; }
.hidetxt{ text-indent:-99999px; overflow:hidden;}
p{ padding-bottom: 20px; line-height: 18px;}
img{ border: none;}
.left{ float: left;}
.right{ float: right;}
.img-left{ float: left; margin: 0 15px 10px 0;}

body{
	color: #004f41;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #5f594d;
}

/*** HOME ***/
.bg-home{
	width: 100%;
	display: table;
	background: #FFF url(../img/bgHome.jpg) center top no-repeat;
}
header{
	width: 960px;
	height: 134px;
	margin: 0 auto;
}
header h1{
	width: 240px;
	height: 69px;
	padding-top: 18px;
}
header h1 a{
	width: 240px;
	height: 69px;
	background-image: url(../img/logo.jpg);
}





















































/* FOOTER */
footer .selos{ width:195px; height:15px; float: left;}
footer .selos li{
	width:91px;
	height:15px;
	float:left;
	margin-right:3px;
	background: none;
	padding: 0;
}
footer .selos li a{
	width:91px;
	height:15px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
footer .selos li a.ao5{ background-image:url(../img/ao5.jpg); }
footer .selos li a.w3c{ background-image: url(../img/w3c.jpg); }